@import '../../styles/variables.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $primary-font-family;
    height: calc(100vh - 100px);
    .name {
        font-size: x-large;
        font-weight: 700;
    }
    .levels {
        text-align: center;
    }
}