@import '../../styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: $primary-font-family;
    .top-container {
        display: flex;
        justify-content: space-between;
        .back, .menu {
            cursor: pointer;
        }
         .menu {
            margin-right: 8px;
        }
    }
    .top {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        margin: 5px 10px;
        .time {
            display: flex;
            button {
                background: none;
                border: none;
                cursor: pointer;
                i {
                    font-size: medium;
                    width: 16px;
                }
            }
            .counter {
                width: 28px;
            }
        }
        .sub-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title {
                font-weight: 600;
            }
        }
    }
    .board-container {
        position: relative;
        .pause-container {
            position: absolute;
            width: calc((28px) * 9);
            height: calc((28px) * 9);
            background: black;
            z-index: 1;
            opacity: 0.1;
        }
        .pause {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: calc((28px) * 9);
            height: calc((28px) * 9);
            color: rgb(84, 79, 79);
            font-size: 14px;
            z-index: 2;
            animation: zoomInOut 1.2s infinite ease-in-out;
        }
        .row {
            display: flex;
            .col {
                position: relative;
                border: 1px solid $primary-color;
                padding: $cell-padding;
                width: $cell-size;
                height: $cell-size;
                text-align: center;
                color: rgba(0, 0, 0, 0.7);
                cursor: pointer;
                .note-container {
                    position: absolute;
                    font-size: 6.5px;
                    width: 22px;
                    height: 19px;
                    top: 0.5px;
                    left: 2px;
                    .note-row {
                        display: flex;
                        justify-content: space-between;
                        .note-col {
                            width: 33.33%;
                        }
                    }
                }
            }
            .hint {
                background: yellow;
            }
            .selected {
                background: rgb(218, 218, 224);
            }
            .br-l {
                border-left: 2px solid black;
            }
            .br-r {
                border-right: 2px solid black;
            }
            .br-t {
                border-top: 2px solid black;
            }
            .br-b {
                border-bottom: 2px solid black;
            }
            .wrong-pos {
             color: red;       
            }
        }
    }
    .entries {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .entry {
            padding: 5px;
            width: 19px;
            height: 19px;
            text-align: center;
            margin: 5px 0px;
            font-weight: 600;
            cursor: pointer;
        }
    }
    .actions {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px 0px;
        button {
            width: 20%;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            border: none;
            background: none;
            cursor: pointer;
            transition: color ease-in-out 0.3s;

            i {
                font-size: 16px;
                margin-bottom: 5px;
            }
            .name {
                font-size: 11px;
            }
            &:active {
                i,.name {
                    color: blue;
                }
            }
            &:last-child {
                position: relative;
                .note-mode {
                    position: absolute;
                    width: 18px;
                    font-size: 9px;
                    font-weight: 600;
                    left: -4px;
                    top: 0px;
                    background: $primary-color;
                    padding: 3px 5px;
                    border-radius: 15px;
                }
            }
        }
        .note {
            .note-mode {
                background: $tertiary-color !important;
                color: white;
            }
        }
    }
    .disabled {
        pointer-events: none;
        opacity: 0.5;
      }      
}

@keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }