@import '../../styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 15px);
    font-family: $primary-font-family;
    .board {
        background: white;
    }
    .top-container {
        display: flex;
        justify-content: space-between;
        .back, .menu {
            cursor: pointer;
        }
         .menu {
            margin-right: 8px;
        }
    }
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        margin: 5px 10px 10px 0px;
        .pause-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $tertiary-color;
            border-radius: 50%;
            height: 28px;
            width: 28px;
            background: none;
            box-shadow: 0 0 4px 4px $primary-color;
            cursor: pointer;
            &:hover {
                scale: 1.2;
            }
            i {
                color: $tertiary-color;
            }
        }
        .time {
            display: flex;
            button {
                background: none;
                border: none;
                cursor: pointer;
                i {
                    font-size: medium;
                    width: 16px;
                }
            }
        }
        .sub-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .value {
                font-size: medium;
                color: $tertiary-color;
            }
            .timer {
                // width: 28px;
            }
            .title {
                font-weight: 600;
                font-size: large;
                color: rgba(0, 0, 0, 0.7);
            }
        }
    }
    .board-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .pause-container {
            position: absolute;
            // width: calc(($cell-size) * 9);
            // height: calc(($cell-size) * 9);
            background: black;
            z-index: 1;
            opacity: 0.05;
        }
        .pause {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            // width: calc(($cell-size) * 9);
            // height: calc(($cell-size) * 9);
            color: $tertiary-color;
            font-size: 18px;
            z-index: 2;
            animation: zoomInOut 1.2s infinite ease-in-out;
        }
        .row {
            display: flex;
            .col {
                position: relative;
                border: 1px solid $primary-color;
                padding: $cell-padding;
                width: $cell-size;
                height: $cell-size;
                text-align: center;
                color: $tertiary-color;
                font-size: 19px;
                cursor: pointer;
                .note-container {
                    position: absolute;
                    font-size: 8px;
                    width: $cell-size;
                    height: $cell-size;
                    top: 0.5px;
                    left: 2px;
                    .note-row {
                        display: flex;
                        justify-content: space-between;
                        .note-col {
                            width: 33.33%;
                        }
                    }
                }
            }
            .pre-defined {
                color: rgba(0, 0, 0, 0.7);
            }
            .selected {
                background: rgb(239, 239, 244);
            }
            .hint {
                background: #fcfa86;
            }
            .br-l {
                border-left: 2px solid black;
            }
            .br-r {
                border-right: 2px solid black;
            }
            .br-t {
                border-top: 2px solid black;
            }
            .br-b {
                border-bottom: 2px solid black;
            }
            .wrong-pos {
             color: #f71e0a;       
            }
        }
        .invisible {
            width: 0px;
            height: 0px;
        }
    }
    .entries {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .entry {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            width: 17px;
            height: 17px;
            text-align: center;
            vertical-align: middle;
            margin: 5px 0px;
            font-weight: 600;
            cursor: pointer;
            border: 1px solid $primary-color;
            border-radius: 5px;
            &:hover {
                box-shadow: 1px 1px 1px 1px $primary-color;
                background: $tertiary-color;
                color: white;
            }
        }
        .selected {

        }
    }
    .actions {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 5px 0px;
        button {
            width: 20%;
            min-width: 70px;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            border: none;
            background: none;
            cursor: pointer;
            transition: color ease-in-out 0.3s;

            i {
                font-size: 16px;
                margin-bottom: 3px;
                height: 16px;
                width: 16px;
                padding: 5px;
                border-radius: 50%;
                border: 1px solid $primary-color;
                box-shadow: 1px 1px 1px 1px $primary-color;
            }
            .name {
                font-size: 11.5px;
                font-weight: 600;
                white-space: nowrap;

            }
            &:active {
                i,.name {
                    color: $tertiary-color;
                }
            }
            &:last-child {
                position: relative;
                .note-mode {
                    position: absolute;
                    width: 18px;
                    font-size: 9px;
                    font-weight: 600;
                    left: 2px;
                    top: 0px;
                    background: $primary-color;
                    padding: 3px 5px;
                    border-radius: 15px;
                }
            }
            &:hover {
                i {
                    scale: 1.2;
                }
                i, .name {
                    color: $tertiary-color;
                }
            }
        }

        .note {
            .note-mode {
                background: $tertiary-color !important;
                color: white;
            }
        }
        .action {
            i, .name {
                color: $tertiary-color;
            }

        }
    }
    .disabled {
        pointer-events: none;
        opacity: 0.5;
      }      
}

@keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  @media screen and (max-width: 450px) {
    .container {
        .entries, .actions {
            margin: 15px 0px;
        }
    }   
  }