<div class="container">
    <div class="board">
        <div class="top-container">
            <i routerLink="/" class="fa-solid fa-chevron-left back"></i>
            <i class="fa-solid fa-bars menu"></i>
        </div>
        <div class="top">
            <div class="sub-container">
                <div class="title">Difficulty</div>
                <div class="level">{{difficulty}}</div>
            </div>
            <div class="time">
                <div class="sub-container">
                    <div class="title">Time</div>
                    <cd-timer class="counter" #time [format]="'ms'"></cd-timer>
                </div>
                <button (click)="handleTime()">
                    <i *ngIf="!isTimePaused" class="fa-solid fa-pause"></i>
                    <i *ngIf="isTimePaused" class="fa-regular fa-circle-play"></i>
                </button>
            </div>
        </div>
        <div class="board-container">
            <div class="pause-container" *ngIf="isTimePaused">
            </div>
            <div class="pause" *ngIf="isTimePaused">Resume</div>
            <div class="row" *ngFor="let box of boxes; let i = index" [ngClass]="{'disabled': isTimePaused}">
                <div class="col" (click)="setPosition(i, j)" *ngFor="let box of boxes; let j = index" 
                [ngClass]="{'br-l': j == 0, 'br-r': j%Math.sqrt(size) == Math.sqrt(size) - 1, 'br-t': i == 0, 'br-b': i%Math.sqrt(size) == Math.sqrt(size) - 1,
                            'selected': clickedBoxPosition[0] == i && clickedBoxPosition[1] == j && !isTimePaused, 'wrong-pos': checkPuzzle(i,j) == true, 
                            'hint': hintRow == i && hintCol == j && hintRow >= 0, 'pre-defined': preDefined[i][j] != 0 || preDefined[i][j] != null}">                
                    {{board[i][j] > 0 && !isTimePaused ? board[i][j] : ''}}
                    <div class="note-container" *ngIf="noteMode || clearNote(i, j)">
                        <div class="note-row" *ngFor="let noteBox of noteBoxes; let n = index">
                            <div class="note-col" *ngFor="let noteCol of noteBoxes; let m = index">
                                 {{noteBoard[i][j][n][m] > 0 ? noteBoard[i][j][n][m] : ' '}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions" [ngClass]="{'disabled': isTimePaused}">
            <button [ngClass]="{'action': action == 'UNDO LAST'}" >
                <i class="fa-solid fa-rotate-left" (click)="setAction('UNDO LAST')"></i>
                <div class="name">Undo Last</div>
            </button>
            <button [ngClass]="{'action': action == 'UNDO ALL'}" >
                <i class="fa-solid fa-rotate-left" (click)="setAction('UNDO ALL')"></i>
                <div class="name">Undo All</div>
            </button>
            <button [ngClass]="{'action': action == 'CHECK'}" >
                <i class="fa-solid fa-gear" (click)="setAction('CHECK')"></i>
                <div class="name">Check</div>
            </button>
            <button [ngClass]="{'action': action == 'HINT'}" >
                <i class="fa-regular fa-lightbulb" (click)="setAction('HINT')"></i>
                <div class="name">Hint</div>
            </button>
            <button [ngClass]="{'action': action == 'NOTE'}"  [ngClass]="{'note': noteMode}">
                <i class="fa-regular fa-note-sticky" (click)="setAction('NOTE')"></i>
                <div class="name" >Note</div>
                <div class="note-mode" (click)="setAction('NOTE')">{{noteMode ? 'ON' : 'OFF'}}</div>
            </button>
        </div>
        <div class="entries" [ngClass]="{'disabled': isTimePaused}">
            <div class="entry" (click)="setCell(i)" *ngFor="let entry of boxes; let i = index">{{i+1}}</div>
        </div>
    </div>
</div>