@import '../../styles/variables.scss';

.footer {
    // position: relative;
    width: 100%;
    // bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    height: 40px;
    margin-top: 20px;
}